<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biomill | Innovation is growth </title>
    <link rel="icon" type="image" href="../../img/favicon.png"/>

    
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--my css-->
    <link rel="stylesheet" href="../../assets/css/style.css">

    <!--font - montserrat-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- AOS-->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-white ">
    <a class="navbar-brand" href="../home.html"><img src="../../img/logobio.png" alt="logo Biomill"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../home.html">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./us.html">Our team</a>
              <a class="dropdown-item" href="./history.html">Our history</a>        
              <a class="dropdown-item " href="./evolution.html">Our evolution</a>            
            </div>
          </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our Performance
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="./work.html">Our work</a>
            <a class="dropdown-item" href="./agm.html">GMA</a>               
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="./projects.html">Our projects</a>
              <a class="dropdown-item active" href="./biohormon.html">Biohormon</a>    
              <a class="dropdown-item" href="./vhh.html">VHH</a>             
            </div>
          </li>           

        <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link color-bluelink" href="../../index.html">Spanish version</a>
          </li> 
      </ul>
      
    </div>
  </nav>


      
      <header>
        <img src="../../img/bannerbio.png" class="img-fluid" alt="...">
      </header>

<div class="bkg">
 

  <section class="firstSectionUs">

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center titleUs"> 
          <img src="../../img/miscelanea.png" alt="">
          <span>Biohormon</span>
        </div> 
      </div>
    </div>

</section>

<div data-aos="fade-up"    data-aos-duration="2000">
<section class="secondSectionBio"> 

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>BIOHORMON® is the tradename for the Somatropin (recombinant human growth hormone -rhGH) as active ingredient, proven to be biosimilar to widely used somatropins currently available in global markets. rhGH is used to treat medical conditions related to growth hormone deficiency which affects growth and metabolism specially in children. <br> <br>
        Applying our genetically modified animals’ technology, we have obtained cattle capable of synthesizing and secreting in the milk, the same protein produced by the human body.
          
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <img src="../../img/biohor01.png" alt="" class="img-fluid">
      </div>

    </div>
    <br> <br><br> <br>
    <div class="row">

      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>This human somatropin obtained was submitted to strict quality analysis. Its characteristics and behavior are comparable to those of the international reference recombinant somatropins. Molecular characterization assays (conformational analysis, reactivity against receptors, circular dichroism, response cells) have proven similarity to human growth hormone. Preclinical assays including toxicity, bioavailability, bio identity and bioactivity tests have confirmed that the product is safe and efficient. 
        <br> <br>
        With the obtention of a male transgenic bovine it has been possible to achieve the perpetuation of the lineage carrying the transgenic event in a practical fashion. The expression cassette containing the rhGH producing sequence is present in the cells of the reproductive male which embodies the master cell bank and ensures availability of seeds for the obtention of female "biorreactors"</p>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <img src="../../img/biohor02.png" alt="" class="img-fluid">
      </div>

    </div>
  </div>
</section>


<section class="thirdSectionBio">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Publications and Patents</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul>
          <li>
            High level expression of bioactive recombinant human growth hormone in the milk of a cloned transgenic cow. Journal of Biotechnology 124 (2006) 469–472 
          </li>
          <li> 
            A Process of Making Transgenic Mammals that Produce Exogenous Proteins in Milk and Transgenic Mammals Produced Thereby. US 7,718,845 May 18, 2010 
          </li>
          <li>
            Process for Producing Exogenous Protein in the Milk of Transgenic Mammals and a Process for Purifying Proteins Therefrom. US TPO 12/138,529 June 13, 2008 
          </li>
          <li> 
            A Process for Producing exogenous protein in the milk of transgenic mammals and a process for purifying proteins therefrom. MX 277,088, May 2010 
          </li>
          <li> 
            A Process for Producing exogenous protein in the milk of transgenic mammals and a process for purifying proteins therefrom No. 2360002 (Russia), Jun 27, 2009 
          </li>
        
        </ul>
        
      </div>
    </div>
<br> 
    <div class="row">
      <div class="col-12 text-center">
        <img src="../../img/biohor03.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section> </div>

</div>

  <footer>

    <div class="container text-center">
      <div class="row ">
        <div class="col-md-6 col-sm-12 ">
          <img src="../../img/logowhite.png" alt="">
        </div>


        <div class="col-md-4 col-sm-12 text-center">
          <p>
            J. B. Alberdi 431 piso 15, Olivos, Buenos Aires - Argentina <br>
            Tel: +5411 5263-5919 <br>
            contacto@biomill.com.ar
          </p>
        </div>
      </div>

    </div>
    <div class="lineDown"></div>
  </footer>



    <!--scripts-->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init();
    </script>

    <script src="../assets/js/script.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
</body>
</html>