<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biomill | Innovar es crecer </title>
    <link rel="icon" type="image" href="../img/favicon.png"/>
    
   
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--my css-->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!--font - montserrat-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

 <!--font - raleway-->

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- AOS-->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>



  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-white ">
        <a class="navbar-brand" href="../index.html"><img src="../img/logobio.png" alt="logo Biomill"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Nosotros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./nosotros.html">Nuestro equipo</a>
                  <a class="dropdown-item" href="./historia.html">Nuestra historia</a>        
                  <a class="dropdown-item" href="./hitos.html">Nuestros hitos</a>            
                </div>
              </li>
            
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trabajo
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./trabajo.html">Nuestros trabajos</a>
                <a class="dropdown-item active02" href="./agm.html">AGM</a>               
              </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Proyectos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./proyectos.html">Nuestros proyectos</a>
                  <a class="dropdown-item" href="./biohormon.html">Biohormon</a>    
                  <a class="dropdown-item" href="./vhh.html">VHH</a>             
                </div>
              </li>           

            <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>

              <li class="nav-item">
                <a class="nav-link color-bluelink" href="../EN/home.html">English version</a>
              </li>
          </ul>
          
        </div>
      </nav>

      <header>
        <img src="../img/bannerbio.png" class="img-fluid" alt="...">
      </header>

      <div class="bkg">
        <div data-aos="fade-up"    data-aos-duration="2000">
        <section class="firstSectionAgm">
  
          <div class="container">
            <div class="row">
              <div class="col-12 text-left titleUs"> 
               <h3>Nuestra plataforma de animales genéticamente modificados (AGM).</h3> 
              </div> 
            </div>
          </div>

            <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <p>Desarrollamos un sistema de expresión a través de un macroorganismo (bovino transgénico) que sólo requiere ordeñe para obtener leche con el ingrediente farmacéutico activo incorporado (proteína humana).</p>
              </div>
  
              <div class="col-lg-2 col-md-12 col-sm-12  text-center ">
                <img src="../img/agm01.png" alt="" class="img-fluid">
                <div class="text-left">    
                  <br>             
                  <p class="imageDot">Generación de <br> fibroblasto <br> transgénico</p>
                  </div>
              </div>

              <div class="col-lg-2 col-md-12 col-sm-12  text-center">
                <img src="../img/agm02.png" alt="" class="img-fluid">
                <div class="text-left">   
                  <br>              
                  <p class="imageDot">Inserción del ADN recombinante e implantación del embrión.</p>
                  </div>
              </div>

              <div class="col-lg-2 col-md-12 col-sm-12  text-center">
                <img src="../img/agm03.png" alt="" class="img-fluid">
                <div class="text-left">   
                  <br>              
                  <p class="imageDot">Vaca transgénica <br> con el gen de  la proteína humana.</p>
                  </div>
              </div>

              <div class="col-lg-2 col-md-12 col-sm-12  text-center">
                <img src="../img/agm04.png" alt="" class="img-fluid">
                <div class="text-left">         
                  <br>        
                  <p class="imageDot">Obtención de la proteína humana de la leche.</p>
                  </div>
              </div>            
            </div>          
          </div>

          
  
      </section> 

      <section class="secondSectionAgm">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <p>El proyecto consistió en la generación de un bovino transgénico que incorpora información genética en su ADN que permite la producción de una proteína humana (o molécula de interés de origen recombinante), y que la expresa en su leche bajo el control del promotor beta caseína. Esto permitió la generación de una cohorte de animales capaces de producir consistentemente una proteína humana en cantidades industrializables y secretarla en la leche. 
              Esta leche que contiene la proteína humana se procesa posteriormente en laboratorios de downstream, y tras varios pasos de aislacion y purificacion, se convierte en el ingrediente farmacéutico activo adecuado para la elaboración de productos farmacéuticos de uso humano y veterinario, asi como aditivos alimentarios.</p>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
              <img src="../img/cow01.png" alt="" class="img-fluid">
              
            </div>
          </div>

          <br> <br> <br> <br>

          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <img src="../img/agm05.png" alt="" class="img-fluid">
              
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
              <p>El sistema de animales transgénicos permite reemplazar grandes áreas y equipos de fermentación celular (upstream) por una lechería. Esto se traduce en ahorros sustanciales en las inversiones iniciales y de operación. 
                Los costos de fabricación se reducen drásticamente, ya que no hay requisitos de medios de cultivo costosos, y en cambio los consumibles son: agua, maíz y alfalfa. La mano de obra directa también es menos costosa, ya que este sistema requiere operadores lácteos en lugar de biotecnólogos o técnicos. El sistema productivo es más flexible, con la posibilidad de ajustar fácilmente la producción en función de las demandas del mercado. </p>
              
            </div>


          </div>

          <br> <br> <br> <br>

          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <p>Los “residuos” de la producción son simplemente leche, de bajo impacto ecológico a diferencia de los procedimientos de eliminación de los medios de fermentación que deben degradarse / inactivarse antes de su eliminación, por lo que se trata de una tecnología mas favorable desde el punto de vista ambiental que los sistemas de fermentación celular tradicionales. 
                Esta tecnología de produccion de animales transgenicos ha obtenido el reconocimiento mundial por la concesión de patentes en diferentes países. </p>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 text-center">
              <img src="../img/agm06.png" alt="" class="img-fluid">
              
            </div>
          </div>
        </div>

      </section>  
  
      

<!---->

      <section class="lastSectionAgm">
  
        <div class="container">
          <div class="row">
            <div class="col-12 text-center titleUs"> 
              <img src="../img/miscelanea.png" alt="">
              <span>Producto Farmaceútico</span>
            </div> 
          </div>

          <div class="row">
            <div class="col-12 text-left titleUs">
              <br> <br>
              <h3>Proceso de manufactura de un fármaco.</h3>
            </div>
          </div>
        </div>


      </div>
  <div class="sectImgAgm">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img src="../img/table.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
  </div>
    </section> </div>

<!--
        <div class="container ">

          <div class="row text-center">
            <div class="col-4"></div>
            <div class="col-2"><p class="pText">UPSTREAM</p></div>
            <div class="col-2"><p class="pText">DOWNSTREAM</p></div>
            <div class="col-2"><p class="pText">FILL & FINISH</p></div>
            <div class="col-2"><p class="pText">PRODUCTO <br> TERMINADO  </p></div>
          </div>
          
          <div class="row text-center">

            <div class="col-4">
              <p class="textTitleProc">Proceso <br> convencional</p>
            </div>

            <div class="col-2">
              <img src="../img/p01.png" alt="">
              <p class="textProc">REACTOR</p>
            </div>

            <div class="col-2">
              <img src="../img/p02.png" alt="">
              <p class="textProc">SEPARACIÓN Y PURIFICACIÓN</p>
            </div>

            <div class="col-2">
              <img src="../img/p03.png" alt="">
              <p class="textProc">FORMULACIÓN Y LLENADO</p>
            </div>

            <div class="col-2">
              <img src="../img/p04.png" alt="">
              <p class="textProc">FÁRMACO TERMINADO LISTO PARA USO EN PACIENTES</p>
            </div>
          </div>

        </div>

<br> <br> <br> 
        <div class="container">
          <div class="row text-center">

            <div class="col-4">
              <p class="textTitleProc">Plataforma AGM</p>
            </div>

            <div class="col-2">
              <img src="../img/p05.png" alt="">
              <p class="textProc">BIORREACTOR (VACA LECHERA)</p>
            </div>

            <div class="col-2">
              <img src="../img/p06.png" alt="">
              <p class="textProc">SEPARACIÓN Y PURIFICACIÓN MEJORADA</p>
            </div>

            <div class="col-2">
              <img src="../img/p03.png" alt="">
              <p class="textProc">FORMULACIÓN Y <br> LLENADO</p>
            </div>

            <div class="col-2">
              <img src="../img/p04.png" alt="">
              <p class="textProc">FÁRMACO TERMINADO LISTO PARA USO EN PACIENTES</p>
            </div>
          </div>-->
        
  
    </div>

    <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>
  
    <footer>

      <div class="container text-center">
        <div class="row ">
          <div class="col-md-6 col-sm-12 ">
            <img src="../img/logowhite.png" alt="">
          </div>
  
  
          <div class="col-md-4 col-sm-12 text-center">
            <p>
              J. B. Alberdi 431 piso 15, Olivos, Buenos Aires - Argentina <br>
              Tel: +5411 5263-5919 <br>
              contacto@biomill.com.ar
            </p>
          </div>
        </div>
  
      </div>
      <div class="lineDown"></div>
    </footer>

<!--scripts-->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>

<script src="../assets/js/script.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


    
</body>
</html>