<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biomill | Innovar es crecer </title>
    <link rel="icon" type="image" href="../img/favicon.png"/>
    
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--my css-->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!--font - montserrat-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- AOS-->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-white ">
        <a class="navbar-brand" href="../index.html"><img src="../img/logobio.png" alt="logo Biomill"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Nosotros
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./nosotros.html">Nuestro equipo</a>
                  <a class="dropdown-item" href="./historia.html">Nuestra historia</a>        
                  <a class="dropdown-item" href="./hitos.html">Nuestros hitos</a>            
                </div>
              </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trabajo
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./trabajo.html">Nuestros trabajos</a>
                <a class="dropdown-item" href="./agm.html">AGM</a>               
              </div>
            </li>

            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Proyectos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./proyectos.html">Nuestros proyectos</a>
                  <a class="dropdown-item" href="./biohormon.html">Biohormon</a>    
                  <a class="dropdown-item active02" href="./vhh.html">VHH</a>             
                </div>
              </li>           

            <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
          </ul>
          
        </div>
      </nav>

      
      <header>
        <img src="../img/bannerbio.png" class="img-fluid" alt="...">
      </header>

<div class="bkg">

  <section class="firstSectionUs">

        <div class="container-fluid">
          <div class="row">
            <div class="col-12 text-center titleUs"> 
              <img src="../img/miscelanea.png" alt="">
              <span>VHH</span>
            </div> 
          </div>
        </div>

    </section>
    <div data-aos="fade-up"    data-aos-duration="2000">
    <section class="secondSectionVHH">

      <div class="container ">
        <div class=" row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <p>VHH son una familia de nanoanticuerpos de cadena pesada que combinan las ventajas de los anticuerpos monoclonales y las drogas de pequeño tamaño. Estos VHH se emplean en terapia génica y de infecciones, estudios intracelulares, kits de diagnóstico, y otras aplicaciones. Nos hemos enfocado en su utilización contra el rotavirus, enfermedad endémica en regiones de nuestro país, caracterizada por cuadros de diarreas infantil.  
<br> <br>
              Rotavirus (RV) es el principal agente productor de diarrea aguda infantil a nivel mundial. La gastroenteritis por RV se caracteriza por una diarrea acuosa profusa que, en algunos casos, llega a la deshidratación grave y muerte del paciente. A nivel global, RV es responsable del 25-50% de gastroenteritis infantiles que requieren hospitalización en países desarrollados y en vías de desarrollo, respectivamente. Este agente fue asociado a 24 millones de consultas ambulatorias, 2.4 millones de hospitalizaciones y 500.000 muertes por año de niños menores de 5 años.  </p>
          </div>
    
          <div class="col-lg-6 col-md-12 col-sm-12 text-center" >
            <img src="../img/rotavirus02.png" alt="" class="img-fluid">
          </div>
    
        </div>
        </div>
      </div>
    </section>

    <section class="thirdSectionVHH">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 ">

            <div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
              <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="../img/carruVhh01.png" class="d-block w-75 " alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../img/carruVhh02.png" class="d-block w-75  ">
                </div>
               
              </div>
            </div>
            
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 text-responsive">
            <p>En un trabajo de cooperación con el INTA Argentina, se obtuvieron en primer lugar genes productores de VHH provenientes de llamas, con características de especificidad, resistencia y neutralización viral. Dichos genes fueron utlizados para construir un cassette de expresión que se implantó en bovinos, que al momento de producir leche, lograban expresar VHH en la misma. Los nanoanticuerpos presentes en la leche tiene la función protectiva ante RV, por lo que ésta leche se constituyen como tal en un alimento funcional o una fuente de nanoanticuerpos como un principio activo de formulaciones farmacéuticas o suplementos nutricionales.  </p>
            
          </div>


        </div>
      </div>
    </section> </div>

  


</div>

  <footer>

    <div class="container text-center">
      <div class="row ">
        <div class="col-md-6 col-sm-12 ">
          <img src="../img/logowhite.png" alt="">
        </div>


        <div class="col-md-4 col-sm-12 text-center">
          <p>
            J. B. Alberdi 431 piso 15, Olivos, Buenos Aires - Argentina <br>
            Tel: +5411 5263-5919 <br>
            contacto@biomill.com.ar
          </p>
        </div>
      </div>

    </div>
    
  </footer>
  <div class="lineDown"></div>

    <!--scripts-->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init();
    </script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
</body>
</html>